.gallery-heading{
    padding: 30px;
}
.gallery img{
    transition: all 0.6s;
   
    border: 2px solid black;
}
.row{
    padding: 30px;
}
.row img:hover{
    transform: translateY(-15px);
}

section h1,.heading{
    font-size: 25px;
    text-align: center;
    padding: 20px;
}
section p{
    font-size: 15px;
}
.saving{
    padding: 60px 15px;
}
.reach{
    background-color: #f8f8f8;
}